<div class="container">
    <div class="alert alert-info">
        <div class="inline-headers">
            <h2>{{ player_name}} ({{ model.team }})&#160;</h2>
            <span class="flag-icon flag-icon-{{ model.countries[player_stats[0].country] }}"></span>
        </div>
        <ul class="list-inline">
            <li><b>Geburtsdatum:</b> {{ player_stats[0].date_of_birth | date: 'dd.MM.yyyy' }}</li>
            <li><b>Größe:</b> {{player_stats[0].height }} cm</li>
            <li><b>Gewicht:</b> {{player_stats[0].weight }} kg</li>
        </ul>
        <ul class="list-inline">
            <li><b>Position:</b> {{player_stats[0].position === 'FO'? 'Stürmer' : player_stats[0].position === 'DE' ? 'Verteidiger' : 'Torhüter'}}</li>
            <li><b>Stockhand:</b> {{player_stats[0].shoots === 'left'? 'links' : 'rechts'}}</li>
        </ul>
    </div>

    <hr />

    <div class="alert alert-info">
        <p>Zurück zur <a href="#!/del_stats">Statistikübersicht</a></p>
    </div>

    <hr />

    <form>
        <div class="form-group">
            <div class="select-group">
                <select class="form-control" id="table_select" data-ng-model="tableSelect" data-ng-change="changeTable(sortCriterion)">
                    <option data-ng-option value="basic_game_by_game">Spielverlauf (Basisdaten)</option>
                    <option data-ng-option value="additional_game_by_game">Spielverlauf (zusätzliche Daten)</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="far fa-calendar-alt"></i>
                </span>
                <input class="form-control" placeholder="Anfangsdatum" moment-picker="ctrl.stringFromDate" format="DD.MM.YYYY" ng-model="ctrl.fromDate" ng-model-options="{ updateOn: 'blur' }">
                <span class="input-group-addon">
                    <i class="far fa-calendar-alt"></i>
                </span>
                <input class="form-control" placeholder="Enddatum" moment-picker="ctrl.stringToDate" format="DD.MM.YYYY" ng-model="ctrl.toDate" ng-model-options="{ updateOn: 'blur' }">
            </div>
        </div>
    </form>

    <br />

    <table id="additional_game_by_game" class="table table-bordered table-striped" data-ng-if="tableSelect == 'additional_game_by_game'">
        <thead>
            <tr>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('date', sortCriterion, statsSortDescending); sortCriterion = 'date'">Datum
                        <span data-ng-show="sortCriterion == 'date' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'date' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('round', sortCriterion, statsSortDescending); sortCriterion = 'round'">Spieltag
                        <span data-ng-show="sortCriterion == 'round' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'round' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('opp_team', sortCriterion, statsSortDescending); sortCriterion = 'opp_team'">Gegner
                            <span data-ng-show="sortCriterion == 'opp_team' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'opp_team' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                </td>
                <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('shifts', sortCriterion, statsSortDescending); sortCriterion = 'shifts'">Wechsel
                            <span data-ng-show="sortCriterion == 'shifts' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'shifts' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                </td>
                <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('time_on_ice_pp', sortCriterion, statsSortDescending); sortCriterion = 'time_on_ice_pp'">PP-Eiszeit
                            <span data-ng-show="sortCriterion == 'time_on_ice_pp' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'time_on_ice_pp' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                </td>
                <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('time_on_ice_sh', sortCriterion, statsSortDescending); sortCriterion = 'time_on_ice_sh'">SH-Eiszeit
                            <span data-ng-show="sortCriterion == 'time_on_ice_sh' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'time_on_ice_sh' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                </td>
                <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('pim', sortCriterion, statsSortDescending); sortCriterion = 'pim'">Strafminuten
                            <span data-ng-show="sortCriterion == 'pim' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'pim' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                </td>
                <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('pp_goals', sortCriterion, statsSortDescending); sortCriterion = 'pp_goals'">PP-Tore
                            <span data-ng-show="sortCriterion == 'pp_goals' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'pp_goals' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                </td>
                <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('sh_goals', sortCriterion, statsSortDescending); sortCriterion = 'sh_goals'">SH-Tore
                            <span data-ng-show="sortCriterion == 'sh_goals' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'sh_goals' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                </td>
                <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('plus_minus', sortCriterion, statsSortDescending); sortCriterion = 'plus_minus'">+/-
                            <span data-ng-show="sortCriterion == 'plus_minus' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'plus_minus' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="stat in filtered_stats = (player_stats | orderBy:sortCriterion:statsSortDescending | filter:dayFilter)">
                <td class="col-md-1 text-center" style="width: 8%"><a href="http://anonymto.com/?https://www.del.org/spielplan/{{stat.game_date}}#schedule">{{ stat.game_date }}</a></td>
                <td class="col-md-1 text-right" style="width: 3%">{{ stat.round }}</td>
                <td class="col-md-1{{ setTextColor(stat.score, stat.opp_score) }}" style="width: 10%"><b>{{ stat.score }}:{{stat.opp_score}} </b><a href="http://anonymto.com/?https://www.del.org/event/{{stat.home_away === 'home'? model.teams[stat.team] : model.teams[stat.opp_team]}}-{{stat.home_away === 'home'? model.teams[stat.opp_team] : model.teams[stat.team]}}/{{stat.schedule_game_id}}">{{stat.home_away === 'home'? 'vs.' : '@'}} {{ stat.opp_team }} {{stat.game_type === 'SO' ? '(SO)' : stat.game_type === 'OT' ? '(VL)' : ''}}</a></td>
                <td class="col-md-1 text-right">{{ stat.shifts }}</td>
                <td class="col-md-1 text-right">{{ formatTime(stat.time_on_ice_pp) }}</td>
                <td class="col-md-1 text-right">{{ formatTime(stat.time_on_ice_sh) }}</td>
                <td class="col-md-1 text-right">{{ stat.pim }}</td>
                <td class="col-md-1 text-right">{{ stat.pp_goals }}</td>
                <td class="col-md-1 text-right">{{ stat.sh_goals }}</td>
                <td class="col-md-1 text-right">{{ stat.plus_minus }}</td>
            </tr>
            <tr>
                <td class="col-md-1"></td>
                <td class="col-md-1">Gesamt:</td>
                <td class="col-md-1 text-right"><b>{{ filtered_stats.length }} Spiel{{ filtered_stats.length > 1 ? 'e' : ''}}</b></td>
                <td class="col-md-1 text-right"><b>{{ getFilteredTotal(filtered_stats, 'shifts') }}</b></td>
                <td class="col-md-1 text-right"><b>{{ formatTime(getFilteredTotal(filtered_stats, 'time_on_ice_pp')) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ formatTime(getFilteredTotal(filtered_stats, 'time_on_ice_sh')) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ getFilteredTotal(filtered_stats, 'pim') }}</b></td>
                <td class="col-md-1 text-right"><b>{{ getFilteredTotal(filtered_stats, 'pp_goals') }}</b></td>
                <td class="col-md-1 text-right"><b>{{ getFilteredTotal(filtered_stats, 'sh_goals') }}</b></td>
                <td class="col-md-1 text-right"><b>{{ getFilteredTotal(filtered_stats, 'plus_minus') }}</b></td>
            </tr>
        </tbody>
    </table>

    <table id="basic_game_by_game" class="table table-bordered table-striped" data-ng-if="tableSelect == 'basic_game_by_game'">
        <thead>
            <tr>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('date', sortCriterion, statsSortDescending); sortCriterion = 'date'">Datum
                        <span data-ng-show="sortCriterion == 'date' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'date' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('round', sortCriterion, statsSortDescending); sortCriterion = 'round'">Spieltag
                        <span data-ng-show="sortCriterion == 'round' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'round' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('opp_team', sortCriterion, statsSortDescending); sortCriterion = 'opp_team'">Gegner
                        <span data-ng-show="sortCriterion == 'opp_team' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'opp_team' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('goals', sortCriterion, statsSortDescending); sortCriterion = 'goals'">Tore
                        <span data-ng-show="sortCriterion == 'goals' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'goals' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('assists', sortCriterion, statsSortDescending); sortCriterion = 'assists'">Vorlagen
                        <span data-ng-show="sortCriterion == 'assists' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'assists' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('points', sortCriterion, statsSortDescending); sortCriterion = 'points'">Punkte
                        <span data-ng-show="sortCriterion == 'points' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'points' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('shots_on_goal', sortCriterion, statsSortDescending); sortCriterion = 'shots_on_goal'">Torschüsse
                        <span data-ng-show="sortCriterion == 'shots_on_goal' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'shots_on_goal' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('shots_missed', sortCriterion, statsSortDescending); sortCriterion = 'shots_missed'">Sch.
                        vorbei
                        <span data-ng-show="sortCriterion == 'shots_missed' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'shots_missed' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('shots_blocked', sortCriterion, statsSortDescending); sortCriterion = 'shots_blocked'">Sch.
                        geblockt
                        <span data-ng-show="sortCriterion == 'shots_blocked' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'shots_blocked' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('time_on_ice', sortCriterion, statsSortDescending); sortCriterion = 'time_on_ice'">Eiszeit
                        <span data-ng-show="sortCriterion == 'time_on_ice' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'time_on_ice' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="stat in filtered_stats = (player_stats | orderBy:sortCriterion:statsSortDescending | filter:dayFilter)">
                <td class="col-md-1 text-center" style="width: 8%"><a href="http://anonymto.com/?https://www.del.org/spielplan/{{stat.game_date}}#schedule">{{
                        stat.game_date }}</a></td>
                <td class="col-md-1 text-right" style="width: 3%">{{ stat.round }}</td>
                <td class="col-md-1{{ setTextColor(stat.score, stat.opp_score) }}" style="width: 10%"><b>{{ stat.score
                        }}:{{stat.opp_score}} </b><a href="http://anonymto.com/?https://www.del.org/event/{{stat.home_away === 'home'? model.teams[stat.team] : model.teams[stat.opp_team]}}-{{stat.home_away === 'home'? model.teams[stat.opp_team] : model.teams[stat.team]}}/{{stat.schedule_game_id}}">{{stat.home_away
                        === 'home'? 'vs.' : '@'}} {{ stat.opp_team }} {{stat.game_type === 'SO' ? '(SO)' : stat.game_type
                        === 'OT' ? '(VL)' : ''}}</a></td>
                <td class="col-md-1 text-right">{{ stat.goals }}</td>
                <td class="col-md-1 text-right">{{ stat.assists }}</td>
                <td class="col-md-1 text-right">{{ stat.points }}</td>
                <td class="col-md-1 text-right">{{ stat.shots_on_goal }}</td>
                <td class="col-md-1 text-right">{{ stat.shots_missed }}</td>
                <td class="col-md-1 text-right">{{ stat.shots_blocked }}</td>
                <td class="col-md-1 text-right">{{ formatTime(stat.time_on_ice) }}</td>
            </tr>
            <tr>
                <td class="col-md-1"></td>
                <td class="col-md-1">Gesamt:</td>
                <td class="col-md-1 text-right"><b>{{ filtered_stats.length }} Spiel{{ filtered_stats.length > 1 ? 'e' : ''}}</b></td>
                <td class="col-md-1 text-right"><b>{{ getFilteredTotal(filtered_stats, 'goals') }}</b></td>
                <td class="col-md-1 text-right"><b>{{ getFilteredTotal(filtered_stats, 'assists') }}</b></td>
                <td class="col-md-1 text-right"><b>{{ getFilteredTotal(filtered_stats, 'points') }}</b></td>
                <td class="col-md-1 text-right"><b>{{ getFilteredTotal(filtered_stats, 'shots_on_goal') }}</b></td>
                <td class="col-md-1 text-right"><b>{{ getFilteredTotal(filtered_stats, 'shots_missed') }}</b></td>
                <td class="col-md-1 text-right"><b>{{ getFilteredTotal(filtered_stats, 'shots_blocked') }}</b></td>
                <td class="col-md-1 text-right"><b>{{ formatTime(getFilteredTotal(filtered_stats, 'time_on_ice')) }}</b></td>
            </tr>
        </tbody>
    </table>

</div>
