<div class="container">
    <div class="alert alert-info">
        <div class="inline-headers">
            <h2 data-ng-if="player_name">{{ player_name}} ({{ model.team }})&#160;</h2>
            <span class="flag-icon flag-icon-{{ model.countries[player_stats[0].country] }}"></span>
            <span data-ng-if="player_stats[0].u23"><img width="25%" height="25%" src="img/u23.png" /></span>
        </div>
        <ul class="list-inline">
            <li><b>Geburtsdatum:</b> {{ player_stats[0].date_of_birth | date: 'dd.MM.yyyy' }}</li>
            <li><b>Größe:</b> {{player_stats[0].height }} cm</li>
            <li><b>Gewicht:</b> {{player_stats[0].weight }} kg</li>
        </ul>
        <ul class="list-inline">
            <li><b>Position:</b> {{player_stats[0].position === 'FO' ? 'Stürmer' : player_stats[0].position === 'DE' ? 'Verteidiger' : player_stats[0].position === 'GK' ? 'Torhüter' : ''}}</li>
            <li><b>Stockhand:</b> {{player_stats[0].shoots === 'left' ? 'links' : player_stats[0].shoots === 'right' ? 'rechts' : ''}}</li>
        </ul>
    </div>

    <div class="alert alert-info">
        <p>Zurück zur <a href="#!/del_stats">Statistikübersicht</a> | Zu den <a href="#!/team_stats">Teamstatistiken</a></p>
    </div>

    <div class="alert alert-info">
        <p ng-click="toggle=!toggle"><b>Abkürzungsverzeichnis&#32;&#32;<span ng-show="toggle" class="fa fa-minus"></span><span ng-show="!toggle" class="fa fa-plus"></span></b></p>
            <dl ng-show="toggle" class="dl-horizontal">
                <dt data-ng-repeat-start="term in stats_cols[tableSelect] | filter:{expl_de: '!!'}">{{ term.col_header }}</dt>
                <dd data-ng-repeat-end><i>{{ term.expl_en }}:</i> {{ term.expl_de }}</dd>
            </dl>
    </div>

    <form>
        <div class="form_group">
            <div class="input-group" style="width: 100%">
                <label for="team_select">Team auswählen:</label>
                <select class="form-control" id="team_select" data-ng-model="model.new_team" data-ng-change="">
                    <option data-ng-option data-ng-repeat="full_team in model.full_teams" value="{{full_team.abbr}}">{{full_team.full_name}}</option>
                </select>
                <span class="input-group-addon form_spacer"></span>
                <label for="player_select">Spieler auswählen:</label>
                <select class="form-control" id="player_select" data-ng-model="model.new_player_id" data-ng-change="changePlayer()">
                    <option data-ng-option data-ng-repeat="player in filtered_players =(all_players | orderBy:'last_name' | filter:{team: model.new_team})" value="{{player.player_id}}">{{player.full_name}}</option>
                </select>
            </div>
    </form>

    <br />

    <form>
        <div class="form-group">
            <div class="input-group">
                <select class="form-control" id="table_select" data-ng-model="tableSelect" data-ng-change="changeTable(sortCriterion)">
                    <option data-ng-if="player_stats[0].position != 'GK'" data-ng-option value="basic_game_by_game">Basisstatistiken</option>
                    <option data-ng-if="player_stats[0].position != 'GK'" data-ng-option value="additional_game_by_game">Zusatzstatistiken (1)</option>
                    <option data-ng-if="player_stats[0].position != 'GK'" data-ng-option value="additional_game_by_game_2">Zusatzstatistiken (2)</option>
                    <option data-ng-if="player_stats[0].position != 'GK'" data-ng-option value="lines">Reihenpartner</option>
                    <option data-ng-if="player_stats[0].position == 'GK'" data-ng-option value="goalie_stats">Torhüterstatistiken</option>
                    <option data-ng-if="player_stats[0].position == 'GK'" data-ng-option value="goalie_zone_stats_near">Fangquoten (Nahschüsse)</option>
                    <option data-ng-if="player_stats[0].position == 'GK'" data-ng-option value="goalie_zone_stats_far">Fangquoten (Fernschüsse)</option>
                    <option data-ng-if="player_stats[0].position == 'GK'" data-ng-option value="goalie_situation_stats">Fangquoten (Spielsituationen)</option>
                </select>
                <span class="input-group-addon form_spacer"></span>
                <select class="form-control" id="home_road_select" data-ng-model="homeRoadFilter">
                    <option data-ng-option value selected="selected">Heim-/Auswärtsspiele</option>
                    <option data-ng-option value="home">Heimspiele</option>
                    <option data-ng-option value="road">Auswärtsspiele</option>
                </select>
                <span class="input-group-addon form_spacer"></span>
                <select class="form-control" id="opp_select" data-ng-model="oppFilter">
                    <option data-ng-option value selected="selected">alle Gegner</option>
                    <option data-ng-option data-ng-repeat="full_team in model.full_teams | filter:{abbr: '!' + model.team}" value="{{full_team.abbr}}">{{full_team.full_name}}</option>
                </select>
                <span class="input-group-addon form_spacer"></span>
                <span class="input-group-addon">
                    <i class="far fa-calendar-alt"></i>
                </span>
                <input class="form-control" placeholder="Anfangsdatum" moment-picker="ctrl.stringFromDate" format="DD.MM.YYYY" data-ng-model="ctrl.fromDate" data-ng-model-options="{ updateOn: 'blur' }">
                <span class="input-group-addon form_spacer"></span>
                <span class="input-group-addon">
                    <i class="far fa-calendar-alt"></i>
                </span>
                <input class="form-control" placeholder="Enddatum" moment-picker="ctrl.stringToDate" format="DD.MM.YYYY" data-ng-model="ctrl.toDate" data-ng-model-options="{ updateOn: 'blur' }">
            </div>
        </div>
    </form>

    <table id="additional_game_by_game" class="table table-bordered table-striped table-condensed" data-ng-if="tableSelect == 'additional_game_by_game'">
        <thead>
            <tr>
                <td class="text-center" data-ng-repeat="col in stats_cols[tableSelect]">
                    <a href="" data-ng-click="$parent.statsSortDescending = $parent.setSortOrder(col.data_key, $parent.sortCriterion, $parent.statsSortDescending); $parent.sortCriterion = col.data_key">
                        <abbr title={{col.expl_de}} data-ng-if="col.expl_de">{{col.col_header}}</abbr>
                        <span data-ng-if="!col.expl_de">{{col.col_header}}</span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && $parent.statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && !$parent.statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="{{stat.home_road === 'home'? 'info' : 'warning'}}" data-ng-repeat="stat in filtered_stats = (player_stats | orderBy:sortCriterion:statsSortDescending | filter:dayFilter | filter: {home_road: homeRoadFilter} | filter: {opp_team: oppFilter})">
                <td class="col-md-1 text-center" style="width: 8%"><a href="http://anonymto.com/?https://www.del.org/spielplan/{{stat.game_date}}#schedule">{{ stat.game_date }}</a></td>
                <td class="col-md-1 text-right" style="width: 3%">{{ stat.round }}</td>
                <td class="col-md-1{{ setTextColor(stat.score, stat.opp_score) }}" style="width: 10%"><b>{{ stat.score }}:{{stat.opp_score}} </b><a href="http://anonymto.com/?https://www.del.org/event/{{stat.home_road === 'home'? team_lookup[stat.team] : team_lookup[stat.opp_team]}}-{{stat.home_road === 'home'? team_lookup[stat.opp_team] : team_lookup[stat.team]}}/{{stat.schedule_game_id}}">{{stat.home_road === 'home'? 'vs.' : '@'}} {{ stat.opp_team }} {{stat.game_type === 'SO' ? '(SO)' : stat.game_type === 'OT' ? '(VL)' : ''}}</a></td>
                <td class="col-md-1 text-right">{{ stat.shifts }}</td>
                <td class="col-md-1 text-right">{{ svc.formatTime(stat.time_on_ice_pp) }}</td>
                <td class="col-md-1 text-right">{{ svc.formatTime(stat.time_on_ice_sh) }}</td>
                <td class="col-md-1 text-right">{{ stat.pp_goals }}</td>
                <td class="col-md-1 text-right">{{ stat.sh_goals }}</td>
                <td class="col-md-1 text-right">{{ stat.first_goals }}</td>
                <td class="col-md-1 text-right">{{ stat.gw_goals }}</td>
            </tr>
            <tr>
                <td class="col-md-1"></td>
                <td class="col-md-1" style="width: 3%">Gesamt:</td>
                <td class="col-md-1 text-right"><b>{{ filtered_stats.length }} Spiel{{ filtered_stats.length == 1 ? '' : 'e'}}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'shifts', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ toi_total = svc.getFilteredTotal(filtered_stats, 'time_on_ice_pp', player_stats); svc.formatTime(toi_total) }} {{ toi_total > 0 && filtered_stats.length > 1 ? '(' + svc.formatTime(toi_total / filtered_stats.length) + ')' : ''}}</b></td>
                <td class="col-md-1 text-right"><b>{{ toi_total = svc.getFilteredTotal(filtered_stats, 'time_on_ice_sh', player_stats); svc.formatTime(toi_total) }} {{ toi_total > 0 && filtered_stats.length > 1 ? '(' + svc.formatTime(toi_total / filtered_stats.length) + ')' : ''}}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'pp_goals', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'sh_goals', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'first_goals', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'gw_goals', player_stats) }}</b></td>
            </tr>
        </tbody>
    </table>

    <table id="additional_game_by_game_2" class="table table-bordered table-striped table-condensed" data-ng-if="tableSelect == 'additional_game_by_game_2'">
        <thead>
            <tr>
                <td class="text-center" data-ng-repeat="col in stats_cols[tableSelect]">
                    <a href="" data-ng-click="$parent.statsSortDescending = $parent.setSortOrder(col.data_key, $parent.sortCriterion, $parent.statsSortDescending); $parent.sortCriterion = col.data_key">
                        <abbr title={{col.expl_de}} data-ng-if="col.expl_de">{{col.col_header}}</abbr>
                        <span data-ng-if="!col.expl_de">{{col.col_header}}</span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && $parent.statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && !$parent.statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="{{stat.home_road === 'home'? 'info' : 'warning'}}" data-ng-repeat="stat in filtered_stats = (player_stats | orderBy:sortCriterion:statsSortDescending | filter:dayFilter | filter: {home_road: homeRoadFilter} | filter: {opp_team: oppFilter})">
                <td class="col-md-1 text-center" style="width: 8%"><a href="http://anonymto.com/?https://www.del.org/spielplan/{{stat.game_date}}#schedule">{{ stat.game_date }}</a></td>
                <td class="col-md-1 text-right" style="width: 3%">{{ stat.round }}</td>
                <td class="col-md-1{{ setTextColor(stat.score, stat.opp_score) }}" style="width: 12%"><b>{{ stat.score }}:{{stat.opp_score}} </b><a href="http://anonymto.com/?https://www.del.org/event/{{stat.home_road === 'home'? team_lookup[stat.team] : team_lookup[stat.opp_team]}}-{{stat.home_road === 'home'? team_lookup[stat.opp_team] : team_lookup[stat.team]}}/{{stat.schedule_game_id}}">{{stat.home_road === 'home'? 'vs.' : '@'}} {{ stat.opp_team }} {{stat.game_type === 'SO' ? '(SO)' : stat.game_type === 'OT' ? '(VL)' : ''}}</a></td>
                <td class="col-md-1 text-right">{{ stat.shots_missed }}</td>
                <td class="col-md-1 text-right">{{ stat.shots_blocked }}</td>
                <td class="col-md-1 text-right">{{ stat.plus_minus }}</td>
                <td class="col-md-1 text-right">{{ stat.faceoffs }}</td>
                <td class="col-md-1 text-right">{{ stat.faceoffs_won }}</td>
                <td class="col-md-1 text-right">{{ stat.faceoffs_lost }}</td>
                <td class="col-md-1 text-right">{{ stat.faceoff_pctg.toFixed(2  ) }} %</td>
                <td class="col-md-1 text-right">{{ stat.pim }}</td>
                <td class="col-md-1 text-right">{{ stat.blocked_shots }}</td>
            </tr>
            <tr>
                <td class="col-md-1"></td>
                <td class="col-md-1" style="width: 3%">Gesamt:</td>
                <td class="col-md-1 text-right" style="width: 12%"><b>{{ filtered_stats.length }} Spiel{{ filtered_stats.length == 1 ? '' : 'e'}}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'shots_missed', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'shots_blocked', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'plus_minus', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ totalFaceoffs = svc.getFilteredTotal(filtered_stats, 'faceoffs', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ totalFaceoffsWon = svc.getFilteredTotal(filtered_stats, 'faceoffs_won', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'faceoffs_lost', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ totalFaceoffs != 0 ? (totalFaceoffsWon / totalFaceoffs * 100.).toFixed(2) : (0).toFixed(2)}} %</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'pim', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'blocked_shots', player_stats) }}</b></td>
            </tr>
        </tbody>
    </table>

    <table id="basic_game_by_game" class="table table-bordered table-striped table-condensed" data-ng-if="tableSelect == 'basic_game_by_game'">
        <thead>
            <tr>
                <td class="text-center" data-ng-repeat="col in stats_cols[tableSelect]">
                    <a href="" data-ng-click="$parent.statsSortDescending = $parent.setSortOrder(col.data_key, $parent.sortCriterion, $parent.statsSortDescending); $parent.sortCriterion = col.data_key">
                        <abbr title={{col.expl_de}} data-ng-if="col.expl_de">{{col.col_header}}</abbr>
                        <span data-ng-if="!col.expl_de">{{col.col_header}}</span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && $parent.statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && !$parent.statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="{{stat.home_road === 'home'? 'info' : 'warning'}}" data-ng-repeat="stat in filtered_stats = (player_stats | orderBy:sortCriterion:statsSortDescending | filter:dayFilter | filter: {home_road: homeRoadFilter} | filter: {opp_team: oppFilter})">
                <td class="col-md-1 text-center" style="width: 8%"><a href="http://anonymto.com/?https://www.del.org/spielplan/{{stat.game_date}}#schedule">{{
                        stat.game_date }}</a></td>
                <td class="col-md-1 text-right" style="width: 3%">{{ stat.round }}</td>
                <td class="col-md-1{{ setTextColor(stat.score, stat.opp_score) }}" style="width: 10%"><b>{{ stat.score
                        }}:{{stat.opp_score}} </b><a href="http://anonymto.com/?https://www.del.org/event/{{stat.home_road === 'home'? team_lookup[stat.team] : team_lookup[stat.opp_team]}}-{{stat.home_road === 'home'? team_lookup[stat.opp_team] : team_lookup[stat.team]}}/{{stat.schedule_game_id}}">{{stat.home_road
                        === 'home'? 'vs.' : '@'}} {{ stat.opp_team }} {{stat.game_type === 'SO' ? '(SO)' : stat.game_type
                        === 'OT' ? '(VL)' : ''}}</a></td>
                <td class="col-md-1 text-right">{{ stat.goals }}</td>
                <td class="col-md-1 text-right">{{ stat.assists }}</td>
                <td class="col-md-1 text-right">{{ stat.primary_assists }}</td>
                <td class="col-md-1 text-right">{{ stat.points }}</td>
                <td class="col-md-1 text-right">{{ stat.primary_points }}</td>
                <td class="col-md-1 text-right">{{ stat.shots_on_goal }}</td>
                <td class="col-md-1 text-right">{{ stat.shot_pctg.toFixed(2) }} %</td>
                <td class="col-md-1 text-right">{{ svc.formatTime(stat.time_on_ice) }}</td>
            </tr>
            <tr data-ng-if="player_name">
                <td class="col-md-1"></td>
                <td class="col-md-1" style="width: 3%">Gesamt:</td>
                <td class="col-md-1 text-right"><b>{{ filtered_stats.length }} Spiel{{ filtered_stats.length == 1 ? '' : 'e'}}</b></td>
                <td class="col-md-1 text-right"><b>{{ goals_total = svc.getFilteredTotal(filtered_stats, 'goals', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'assists', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'primary_assists', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'points', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'primary_points', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ shots_on_goal_total = svc.getFilteredTotal(filtered_stats, 'shots_on_goal', player_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ (goals_total / shots_on_goal_total * 100.).toFixed(2) }} %</b></td>
                <td class="col-md-1 text-right"><b>{{ toi_total = svc.getFilteredTotal(filtered_stats, 'time_on_ice', player_stats); svc.formatTime(toi_total) }} {{ toi_total > 0 && filtered_stats.length > 1 ? '(' + svc.formatTime(toi_total / filtered_stats.length) + ')' : ''}}</b></td>
            </tr>
        </tbody>
    </table>

    <table id="lines" class="table table-bordered table-striped table-condensed" data-ng-if="tableSelect == 'lines'">
        <thead>
            <tr>
                <td class="text-center" data-ng-repeat="col in stats_cols[tableSelect]">
                    <a href="" data-ng-click="$parent.statsSortDescending = $parent.setSortOrder(col.data_key, $parent.sortCriterion, $parent.statsSortDescending); $parent.sortCriterion = col.data_key">
                        <abbr title={{col.expl_de}} data-ng-if="col.expl_de">{{col.col_header}}</abbr>
                        <span data-ng-if="!col.expl_de">{{col.col_header}}</span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && $parent.statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && !$parent.statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="{{stat.home_road === 'home'? 'info' : 'warning'}}" data-ng-repeat="stat in filtered_stats = (player_stats | orderBy:sortCriterion:statsSortDescending | filter:dayFilter | filter: {home_road: homeRoadFilter} | filter: {opp_team: oppFilter})">
                <td class="col-md-1 text-center" style="width: 5%"><a href="http://anonymto.com/?https://www.del.org/spielplan/{{stat.game_date}}#schedule">{{
                        stat.game_date }}</a></td>
                <td class="col-md-1 text-right" style="width: 3%">{{ stat.round }}</td>
                <td class="col-md-1{{ setTextColor(stat.score, stat.opp_score) }}" style="width: 7%"><b>{{ stat.score
                        }}:{{stat.opp_score}} </b><a href="http://anonymto.com/?https://www.del.org/event/{{stat.home_road === 'home'? team_lookup[stat.team] : team_lookup[stat.opp_team]}}-{{stat.home_road === 'home'? team_lookup[stat.opp_team] : team_lookup[stat.team]}}/{{stat.schedule_game_id}}">{{stat.home_road
                        === 'home'? 'vs.' : '@'}} {{ stat.opp_team }} {{stat.game_type === 'SO' ? '(SO)' : stat.game_type
                        === 'OT' ? '(VL)' : ''}}</a></td>
                <td class="col-md-1 text-right" style="width: 2%">{{ stat.line }}</td>
                <td class="col-md-1"><a href="#!/player_profile/{{stat.team}}/{{stat.defense[0]}}">{{ players[stat.defense[0]]['first_name'].length > 10 ? players[stat.defense[0]]['first_name'].charAt(0) + '.' : players[stat.defense[0]]['first_name'] }} {{ players[stat.defense[0]]['last_name'] }}</a></td>
                <td class="col-md-1"><a href="#!/player_profile/{{stat.team}}/{{stat.defense[1]}}">{{ players[stat.defense[1]]['first_name'].length > 10 ? players[stat.defense[1]]['first_name'].charAt(0) + '.' : players[stat.defense[1]]['first_name'] }} {{ players[stat.defense[1]]['last_name'] }}</a></td>
                <td class="col-md-1"><a href="#!/player_profile/{{stat.team}}/{{stat.forwards[0]}}">{{ players[stat.forwards[0]]['first_name'].length > 10 ? players[stat.forwards[0]]['first_name'].charAt(0) + '.' : players[stat.forwards[0]]['first_name'] }} {{ players[stat.forwards[0]]['last_name'] }}</a></td>
                <td class="col-md-1"><a href="#!/player_profile/{{stat.team}}/{{stat.forwards[1]}}">{{ players[stat.forwards[1]]['first_name'].length > 10 ? players[stat.forwards[1]]['first_name'].charAt(0) + '.' : players[stat.forwards[1]]['first_name'] }} {{ players[stat.forwards[1]]['last_name'] }}</a></td>
                <td class="col-md-1"><a href="#!/player_profile/{{stat.team}}/{{stat.forwards[2]}}">{{ players[stat.forwards[2]]['first_name'].length > 10 ? players[stat.forwards[2]]['first_name'].charAt(0) + '.' : players[stat.forwards[2]]['first_name'] }} {{ players[stat.forwards[2]]['last_name'] }}</a></td>
            </tr>
        </tbody>
    </table>

    <table id="goalie_stats" class="table table-bordered table-striped table-condensed" data-ng-if="tableSelect == 'goalie_stats'">
        <thead>
            <tr>
                <td class="text-center" data-ng-repeat="col in stats_cols[tableSelect]">
                    <a href="" data-ng-click="$parent.statsSortDescending = $parent.setSortOrder(col.data_key, $parent.sortCriterion, $parent.statsSortDescending); $parent.sortCriterion = col.data_key">
                        <abbr title={{col.expl_de}} data-ng-if="col.expl_de">{{col.col_header}}</abbr>
                        <span data-ng-if="!col.expl_de">{{col.col_header}}</span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && $parent.statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && !$parent.statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="{{stat.home_road === 'home'? 'info' : 'warning'}}" data-ng-repeat="stat in filtered_stats = (goalie_stats | orderBy:sortCriterion:statsSortDescending | filter:goalieFilter | filter:dayFilter | filter: {home_road: homeRoadFilter} | filter: {opp_team: oppFilter})">
                <td class="col-md-1 text-center"><a href="http://anonymto.com/?https://www.del.org/spielplan/{{stat.game_date}}#schedule">{{
                        stat.game_date }}</a></td>
                <td class="col-md-1 text-right" style="width: 3%">{{ stat.round }}</td>
                <td class="col-md-1{{ setTextColor(stat.score, stat.opp_score) }}" style="width: 12%"><b>{{ stat.score
                        }}:{{stat.opp_score}} </b><a href="http://anonymto.com/?https://www.del.org/event/{{stat.home_road === 'home'? team_lookup[stat.team] : team_lookup[stat.opp_team]}}-{{stat.home_road === 'home'? team_lookup[stat.opp_team] : team_lookup[stat.team]}}/{{stat.schedule_game_id}}">{{stat.home_road
                        === 'home'? 'vs.' : '@'}} {{ stat.opp_team }} {{stat.game_type === 'SO' ? '(SO)' : stat.game_type
                        === 'OT' ? '(VL)' : ''}}</a></td>
                <td class="col-md-1 text-right">{{ stat.games_started }}</td>
                <td class="col-md-1 text-right">{{ stat.w }}</td>
                <td class="col-md-1 text-right">{{ stat.l }}</td>
                <td class="col-md-1 text-right">{{ stat.shots_against }}</td>
                <td class="col-md-1 text-right">{{ stat.goals_against }}</td>
                <td class="col-md-1 text-right">{{ stat.save_pctg != null ? stat.save_pctg.toFixed(2) + ' %' : 'n/a'}}</td>
                <td class="col-md-1 text-right">{{ stat.gaa.toFixed(2) }}</td>
                <td class="col-md-1 text-right">{{ stat.so }}</td>
                <td class="col-md-1 text-right">{{ svc.formatTime(stat.toi) }}</td>
            </tr>
            <tr data-ng-if="player_name">
                <td class="col-md-1"></td>
                <td class="col-md-1" style="width: 3%"></td>
                <td class="col-md-1" style="width: 12%">Gesamt:</td>
                <td class="col-md-1 text-right"><b>{{ filtered_stats.length }} Spiel{{ filtered_stats.length == 1 ? '' : 'e'}}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'w', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'l', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ shots_against_total = svc.getFilteredTotal(filtered_stats, 'shots_against', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ goals_against_total = svc.getFilteredTotal(filtered_stats, 'goals_against', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ((1 - goals_against_total / shots_against_total) * 100.).toFixed(2) }} %</b></td>
                <td class="col-md-1 text-right"><b>{{ (goals_against_total * 3600 / toi_total).toFixed(2) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ svc.getFilteredTotal(filtered_stats, 'so', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ toi_total = svc.getFilteredTotal(filtered_stats, 'toi', goalie_stats); svc.formatTime(toi_total) }}</b></td>
            </tr>
        </tbody>
    </table>

    <table id="goalie_zone_stats_near" class="table table-bordered table-striped table-condensed" data-ng-if="tableSelect == 'goalie_zone_stats_near'">
        <thead>
            <tr>
                <td class="text-center" data-ng-repeat="col in stats_cols[tableSelect]">
                    <a href="" data-ng-click="$parent.statsSortDescending = $parent.setSortOrder(col.data_key, $parent.sortCriterion, $parent.statsSortDescending); $parent.sortCriterion = col.data_key">
                        <abbr title={{col.expl_de}} data-ng-if="col.expl_de">{{col.col_header}}</abbr>
                        <span data-ng-if="!col.expl_de">{{col.col_header}}</span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && $parent.statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && !$parent.statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="{{stat.home_road === 'home'? 'info' : 'warning'}}" data-ng-repeat="stat in filtered_stats = (goalie_stats | orderBy:sortCriterion:statsSortDescending | filter:goalieFilter | filter:dayFilter | filter: {home_road: homeRoadFilter} | filter: {opp_team: oppFilter})">
                <td class="col-md-1 text-center"><a href="http://anonymto.com/?https://www.del.org/spielplan/{{stat.game_date}}#schedule">{{
                        stat.game_date }}</a></td>
                <td class="col-md-1 text-right" style="width: 3%">{{ stat.round }}</td>
                <td class="col-md-1{{ setTextColor(stat.score, stat.opp_score) }}" style="width: 12%"><b>{{ stat.score
                        }}:{{stat.opp_score}} </b><a href="http://anonymto.com/?https://www.del.org/event/{{stat.home_road === 'home'? team_lookup[stat.team] : team_lookup[stat.opp_team]}}-{{stat.home_road === 'home'? team_lookup[stat.opp_team] : team_lookup[stat.team]}}/{{stat.schedule_game_id}}">{{stat.home_road
                        === 'home'? 'vs.' : '@'}} {{ stat.opp_team }} {{stat.game_type === 'SO' ? '(SO)' : stat.game_type
                        === 'OT' ? '(VL)' : ''}}</a></td>
                <td class="col-md-1 text-right">{{ stat.sa_slot }}</td>
                <td class="col-md-1 text-right">{{ stat.ga_slot }}</td>
                <td class="col-md-1 text-right">{{ stat.save_pctg_slot != null ? stat.save_pctg_slot.toFixed(2) + ' %' : 'n/a' }}</td>
                <td class="col-md-1 text-right">{{ stat.sa_left }}</td>
                <td class="col-md-1 text-right">{{ stat.ga_left }}</td>
                <td class="col-md-1 text-right">{{ stat.save_pctg_left != null ? stat.save_pctg_left.toFixed(2) + ' %' : 'n/a' }}</td>
                <td class="col-md-1 text-right">{{ stat.sa_right }}</td>
                <td class="col-md-1 text-right">{{ stat.ga_right }}</td>
                <td class="col-md-1 text-right">{{ stat.save_pctg_right != null ? stat.save_pctg_right.toFixed(2) + ' %' : 'n/a' }}</td>
            </tr>
            <tr data-ng-if="player_name">
                <td class="col-md-1"></td>
                <td class="col-md-1" style="width: 3%"></td>
                <td class="col-md-1" style="width: 12%">Gesamt:</td>
                <td class="col-md-1 text-right"><b>{{ sa_slot_total = svc.getFilteredTotal(filtered_stats, 'sa_slot', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ga_slot_total = svc.getFilteredTotal(filtered_stats, 'ga_slot', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ((1 - ga_slot_total / sa_slot_total) * 100.).toFixed(2) }} %</b></td>
                <td class="col-md-1 text-right"><b>{{ sa_left_total = svc.getFilteredTotal(filtered_stats, 'sa_left', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ga_left_total = svc.getFilteredTotal(filtered_stats, 'ga_left', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ((1 - ga_left_total / sa_left_total) * 100.).toFixed(2) }} %</b></td>
                <td class="col-md-1 text-right"><b>{{ sa_right_total = svc.getFilteredTotal(filtered_stats, 'sa_right', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ga_right_total = svc.getFilteredTotal(filtered_stats, 'ga_right', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ((1 - ga_right_total / sa_right_total) * 100.).toFixed(2) }} %</b></td>
            </tr>
        </tbody>
    </table>

    <table id="goalie_zone_stats_far" class="table table-bordered table-striped table-condensed" data-ng-if="tableSelect == 'goalie_zone_stats_far'">
        <thead>
            <tr>
                <td class="text-center" data-ng-repeat="col in stats_cols[tableSelect]">
                    <a href="" data-ng-click="$parent.statsSortDescending = $parent.setSortOrder(col.data_key, $parent.sortCriterion, $parent.statsSortDescending); $parent.sortCriterion = col.data_key">
                        <abbr title={{col.expl_de}} data-ng-if="col.expl_de">{{col.col_header}}</abbr>
                        <span data-ng-if="!col.expl_de">{{col.col_header}}</span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && $parent.statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && !$parent.statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="{{stat.home_road === 'home'? 'info' : 'warning'}}" data-ng-repeat="stat in filtered_stats = (goalie_stats | orderBy:sortCriterion:statsSortDescending | filter:goalieFilter | filter:dayFilter | filter: {home_road: homeRoadFilter} | filter: {opp_team: oppFilter})">
                <td class="col-md-1 text-center"><a href="http://anonymto.com/?https://www.del.org/spielplan/{{stat.game_date}}#schedule">{{
                        stat.game_date }}</a></td>
                <td class="col-md-1 text-right" style="width: 3%">{{ stat.round }}</td>
                <td class="col-md-1{{ setTextColor(stat.score, stat.opp_score) }}" style="width: 12%"><b>{{ stat.score
                        }}:{{stat.opp_score}} </b><a href="http://anonymto.com/?https://www.del.org/event/{{stat.home_road === 'home'? team_lookup[stat.team] : team_lookup[stat.opp_team]}}-{{stat.home_road === 'home'? team_lookup[stat.opp_team] : team_lookup[stat.team]}}/{{stat.schedule_game_id}}">{{stat.home_road
                        === 'home'? 'vs.' : '@'}} {{ stat.opp_team }} {{stat.game_type === 'SO' ? '(SO)' : stat.game_type
                        === 'OT' ? '(VL)' : ''}}</a></td>
                <td class="col-md-1 text-right">{{ stat.sa_blue_line }}</td>
                <td class="col-md-1 text-right">{{ stat.ga_blue_line }}</td>
                <td class="col-md-1 text-right">{{ stat.save_pctg_blue_line != null ? stat.save_pctg_blue_line.toFixed(2) + ' %' : 'n/a' }}</td>
                <td class="col-md-1 text-right">{{ stat.sa_neutral_zone }}</td>
                <td class="col-md-1 text-right">{{ stat.ga_neutral_zone }}</td>
                <td class="col-md-1 text-right">{{ stat.save_pctg_neutral_zone != null ? stat.save_pctg_neutral_zone.toFixed(2) + ' %' : 'n/a' }}</td>
            </tr>
            <tr data-ng-if="player_name">
                <td class="col-md-1"></td>
                <td class="col-md-1" style="width: 3%"></td>
                <td class="col-md-1" style="width: 12%">Gesamt:</td>
                <td class="col-md-1 text-right"><b>{{ sa_blue_line_total = svc.getFilteredTotal(filtered_stats, 'sa_blue_line', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ga_blue_line_total = svc.getFilteredTotal(filtered_stats, 'ga_blue_line', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ((1 - ga_blue_line_total / sa_blue_line_total) * 100.).toFixed(2) }} %</b></td>
                <td class="col-md-1 text-right"><b>{{ sa_neutral_zone_total = svc.getFilteredTotal(filtered_stats, 'sa_neutral_zone', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ga_neutral_zone_total = svc.getFilteredTotal(filtered_stats, 'ga_neutral_zone', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ((1 - ga_neutral_zone_total / sa_neutral_zone_total) * 100.).toFixed(2) }} %</b></td>
            </tr>
        </tbody>
    </table>

    <table id="goalie_situation_stats" class="table table-bordered table-striped table-condensed" data-ng-if="tableSelect == 'goalie_situation_stats'">
        <thead>
            <tr>
                <td class="text-center" data-ng-repeat="col in stats_cols[tableSelect]">
                    <a href="" data-ng-click="$parent.statsSortDescending = $parent.setSortOrder(col.data_key, $parent.sortCriterion, $parent.statsSortDescending); $parent.sortCriterion = col.data_key">
                        <abbr title={{col.expl_de}} data-ng-if="col.expl_de">{{col.col_header}}</abbr>
                        <span data-ng-if="!col.expl_de">{{col.col_header}}</span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && $parent.statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="$parent.sortCriterion == col.data_key && !$parent.statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="{{stat.home_road === 'home'? 'info' : 'warning'}}" data-ng-repeat="stat in filtered_stats = (goalie_stats | orderBy:sortCriterion:statsSortDescending | filter:goalieFilter | filter:dayFilter | filter: {home_road: homeRoadFilter} | filter: {opp_team: oppFilter})">
                <td class="col-md-1 text-center"><a href="http://anonymto.com/?https://www.del.org/spielplan/{{stat.game_date}}#schedule">{{
                        stat.game_date }}</a></td>
                <td class="col-md-1 text-right" style="width: 3%">{{ stat.round }}</td>
                <td class="col-md-1{{ setTextColor(stat.score, stat.opp_score) }}" style="width: 12%"><b>{{ stat.score
                        }}:{{stat.opp_score}} </b><a href="http://anonymto.com/?https://www.del.org/event/{{stat.home_road === 'home'? team_lookup[stat.team] : team_lookup[stat.opp_team]}}-{{stat.home_road === 'home'? team_lookup[stat.opp_team] : team_lookup[stat.team]}}/{{stat.schedule_game_id}}">{{stat.home_road
                        === 'home'? 'vs.' : '@'}} {{ stat.opp_team }} {{stat.game_type === 'SO' ? '(SO)' : stat.game_type
                        === 'OT' ? '(VL)' : ''}}</a></td>
                <td class="col-md-1 text-right">{{ stat.sa_5v5 }}</td>
                <td class="col-md-1 text-right">{{ stat.ga_5v5 }}</td>
                <td class="col-md-1 text-right">{{ stat.save_pctg_5v5 != null ? stat.save_pctg_5v5.toFixed(2) + ' %' : 'n/a' }}</td>
                <td class="col-md-1 text-right">{{ stat.sa_sh }}</td>
                <td class="col-md-1 text-right">{{ stat.ga_sh }}</td>
                <td class="col-md-1 text-right">{{ stat.save_pctg_sh != null ? stat.save_pctg_sh.toFixed(2) + ' %' : 'n/a' }}</td>
                <td class="col-md-1 text-right">{{ stat.sa_pp }}</td>
                <td class="col-md-1 text-right">{{ stat.ga_pp }}</td>
                <td class="col-md-1 text-right">{{ stat.save_pctg_pp != null ? stat.save_pctg_pp.toFixed(2) + ' %' : 'n/a' }}</td>
            </tr>
            <tr data-ng-if="player_name">
                <td class="col-md-1"></td>
                <td class="col-md-1" style="width: 3%"></td>
                <td class="col-md-1" style="width: 12%">Gesamt:</td>
                <td class="col-md-1 text-right"><b>{{ sa_5v5_total = svc.getFilteredTotal(filtered_stats, 'sa_5v5', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ga_5v5_total = svc.getFilteredTotal(filtered_stats, 'ga_5v5', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ((1 - ga_5v5_total / sa_5v5_total) * 100.).toFixed(2) }} %</b></td>
                <td class="col-md-1 text-right"><b>{{ sa_sh_total = svc.getFilteredTotal(filtered_stats, 'sa_sh', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ga_sh_total = svc.getFilteredTotal(filtered_stats, 'ga_sh', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ((1 - ga_sh_total / sa_sh_total) * 100.).toFixed(2) }} %</b></td>
                <td class="col-md-1 text-right"><b>{{ sa_pp_total = svc.getFilteredTotal(filtered_stats, 'sa_pp', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ga_pp_total = svc.getFilteredTotal(filtered_stats, 'ga_pp', goalie_stats) }}</b></td>
                <td class="col-md-1 text-right"><b>{{ ((1 - ga_pp_total / sa_pp_total) * 100.).toFixed(2) }} %</b></td>
            </tr>
        </tbody>
    </table>

</div>
