<div class="container">
    <div class="alert alert-info">
        <h1>DEL-Teamstatistiken für 2018/19</h1>
    </div>
    <hr />
    <div class="alert alert-info">
        <p>Teamstatisken gesammelt und aggregiert aus den Live-Ticker-Daten der DEL.</p>

        <ul class="list-inline">
            <li><i class="fa fa-sync-alt" aria-hidden="true"></i><b>Aktualisierung:</b> {{ last_modified | date:
                'dd.MM.yyyy, HH:mm' }}</li>
        </ul>
        <ul class="list-inline">
            <li><i class="fa fa-at" aria-hidden="true"></i><b>Kontakt:</b> markus@leaffan.net</li>
            <li><i class="fab fa-twitter" aria-hidden="true"></i><b>Twitter:</b> <a href="https://twitter.com/le_affan">@le_affan</a></li>
            <li><i class="fab fa-github" aria-hidden="true"></i><b>GitHub:</b> <a href="https://github.com/leaffan/del_stats">leaffan/del_stats</a></li>
        </ul>
    </div>

    <hr />

    <div class="alert alert-info">
        <p>Zu den <a href="#!/del_stats">Spielerstatistiken</a></p>
    </div>

    <hr />

    <form>
        <div class="form-group">
            <div class="select-group">
                <select class="form-control" id="table_select" data-ng-model="tableSelect" data-ng-change="changeTable(sortCriterion)">
                    <option data-ng-option value="standings">Standardtabelle</option>
                    <option data-ng-option value="special_team_stats">Über-/Unterzahlstatistiken</option>
                    <option data-ng-option value="goal_stats">Torstatistiken</option>
                    <option data-ng-option value="shot_stats">Schuss- und Fangquoten</option>
                    <option data-ng-option value="shot_shares">Schussanteile</option>
                    <option data-ng-option value="additional_stats">Zusätzliche Statistiken</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            
            <div class="input-group">
                <select class="form-control" id="home_away_select" data-ng-model="homeAwaySelect">
                    <option data-ng-option value selected="selected">Heim-/Auswärtsspiele</option>
                    <option data-ng-option value="home">Heimspiele</option>
                    <option data-ng-option value="road">Auswärtsspiele</option>
                </select>
                <span class="input-group-addon form_spacer"></span>
                <span class="input-group-addon">
                    <i class="far fa-calendar-alt"></i>
                </span>
                <input class="form-control" placeholder="Anfangsdatum" moment-picker="ctrl.stringFromDate" format="DD.MM.YYYY"
                    data-ng-model="ctrl.fromDate" data-ng-model-options="{ updateOn: 'blur' }">
                    <span class="input-group-addon form_spacer"></span>
                    <span class="input-group-addon">
                    <i class="far fa-calendar-alt"></i>
                </span>
                <input class="form-control" placeholder="Enddatum" moment-picker="ctrl.stringToDate" format="DD.MM.YYYY"
                    data-ng-model="ctrl.toDate" data-ng-model-options="{ updateOn: 'blur' }">
            </div>
        </div>
    </form>

    <table id="standings" class="table table-bordered table-striped" data-ng-if="tableSelect == 'standings'">
        <thead>
            <tr>
                <td class="text-center"><span class="rank">#</span></td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('team', sortCriterion, statsSortDescending); sortCriterion = 'team'">Team
                        <span data-ng-show="sortCriterion == 'team' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'team' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('games_played', sortCriterion, statsSortDescending); sortCriterion = 'games_played'"><abbr title="Spiele">GP</abbr>
                        <span data-ng-show="sortCriterion == 'games_played' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'games_played' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('rw', sortCriterion, statsSortDescending); sortCriterion = 'rw'"><abbr title="Siege nach regulärer Spielzeit">W</abbr>
                        <span data-ng-show="sortCriterion == 'rw' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'rw' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('ow', sortCriterion, statsSortDescending); sortCriterion = 'ow'"><abbr title="Siege nach Verlängerung">OTW</abbr>
                        <span data-ng-show="sortCriterion == 'ow' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'ow' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('sw', sortCriterion, statsSortDescending); sortCriterion = 'sw'"><abbr title="Siege nach Penaltyschießen">SOW</abbr>
                        <span data-ng-show="sortCriterion == 'sw' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'sw' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('ol', sortCriterion, statsSortDescending); sortCriterion = 'ol'"><abbr title="Niederlagen nach Verlängerung">OTL</abbr>
                        <span data-ng-show="sortCriterion == 'ol' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'ol' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('sl', sortCriterion, statsSortDescending); sortCriterion = 'sl'"><abbr title="Niederlagen nach Penaltyschießen">SOL</abbr>
                        <span data-ng-show="sortCriterion == 'sl' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'sl' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('rl', sortCriterion, statsSortDescending); sortCriterion = 'rl'"><abbr title="Niederlagen nach regulärer Spielzeit">L</abbr>
                        <span data-ng-show="sortCriterion == 'rl' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'rl' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('points', sortCriterion, statsSortDescending); sortCriterion = 'points'"><abbr title="Punkte">PTS</abbr>
                        <span data-ng-show="sortCriterion == 'points' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'points' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('score', sortCriterion, statsSortDescending); sortCriterion = 'score'"><abbr title="Tore">GF</abbr>
                        <span data-ng-show="sortCriterion == 'score' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'score' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('opp_score', sortCriterion, statsSortDescending); sortCriterion = 'opp_score'"><abbr title="Gegentore">GA</abbr>
                        <span data-ng-show="sortCriterion == 'opp_score' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'opp_score' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="stat in filtered_team_stats | orderBy:sortCriterion:statsSortDescending">
                <td class="col-md-1 text-right" style="width: 3%">{{ $index + 1 }}</td>
                <td class="col-md-1">{{ stat.team }}</td>
                <td class="col-md-1 text-right">{{ stat.games_played }}</td>
                <td class="col-md-1 text-right">{{ stat.rw }}</td>
                <td class="col-md-1 text-right">{{ stat.ow }}</td>
                <td class="col-md-1 text-right">{{ stat.sw }}</td>
                <td class="col-md-1 text-right">{{ stat.ol }}</td>
                <td class="col-md-1 text-right">{{ stat.sl }}</td>
                <td class="col-md-1 text-right">{{ stat.rl }}</td>
                <td class="col-md-1 text-right">{{ stat.points }}</td>
                <td class="col-md-1 text-right">{{ stat.score }}</td>
                <td class="col-md-1 text-right">{{ stat.opp_score }}</td>
            </tr>
        </tbody>
    </table>

    <table id="standings" class="table table-bordered table-striped" data-ng-if="tableSelect == 'goal_stats'">
        <thead>
            <tr>
                <td class="text-center"><span class="rank">#</span></td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('team', sortCriterion, statsSortDescending); sortCriterion = 'team'">Team
                        <span data-ng-show="sortCriterion == 'team' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'team' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('goals_diff', sortCriterion, statsSortDescending); sortCriterion = 'goals_diff'"><abbr title="Tordifferenz in regulärer Spielzeit">GDiff</abbr>
                        <span data-ng-show="sortCriterion == 'goals_diff' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'goals_diff' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('goals_1', sortCriterion, statsSortDescending); sortCriterion = 'goals_1'"><abbr title="Tore im ersten Drittel">GF1</abbr>
                        <span data-ng-show="sortCriterion == 'goals_1' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'goals_1' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('opp_goals_1', sortCriterion, statsSortDescending); sortCriterion = 'opp_goals_1'"><abbr title="Gegentore im ersten Drittel">GA1</abbr>
                        <span data-ng-show="sortCriterion == 'opp_goals_1' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'opp_goals_1' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('goals_diff_1', sortCriterion, statsSortDescending); sortCriterion = 'goals_diff_1'"><abbr title="Tordifferenz im ersten Drittel">GDiff1</abbr>
                        <span data-ng-show="sortCriterion == 'goals_diff_1' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'goals_diff_1' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('goals_2', sortCriterion, statsSortDescending); sortCriterion = 'goals_2'"><abbr title="Tore im zweiten Drittel">GF2</abbr>
                        <span data-ng-show="sortCriterion == 'goals_2' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'goals_2' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('opp_goals_2', sortCriterion, statsSortDescending); sortCriterion = 'opp_goals_2'"><abbr title="Gegentore im zweiten Drittel">GA2</abbr>
                        <span data-ng-show="sortCriterion == 'opp_goals_2' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'opp_goals_2' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('goals_diff_2', sortCriterion, statsSortDescending); sortCriterion = 'goals_diff_2'"><abbr title="Tordifferenz im zweiten Drittel">GDiff2</abbr>
                        <span data-ng-show="sortCriterion == 'goals_diff_2' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'goals_diff_2' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('goals_3', sortCriterion, statsSortDescending); sortCriterion = 'goals_3'"><abbr title="Tore im dritten Drittel">GF3</abbr>
                        <span data-ng-show="sortCriterion == 'goals_3' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'goals_3' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('opp_goals_3', sortCriterion, statsSortDescending); sortCriterion = 'opp_goals_3'"><abbr title="Gegentore im dritten Drittel">GA3</abbr>
                        <span data-ng-show="sortCriterion == 'opp_goals_3' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'opp_goals_3' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('goals_diff_3', sortCriterion, statsSortDescending); sortCriterion = 'goals_diff_3'"><abbr title="Tordifferenz im dritten Drittel">GDiff3</abbr>
                        <span data-ng-show="sortCriterion == 'goals_diff_3' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'goals_diff_3' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="stat in filtered_team_stats | orderBy:sortCriterion:statsSortDescending">
                <td class="col-md-1 text-right" style="width: 3%">{{ $index + 1 }}</td>
                <td class="col-md-1">{{ stat.team }}</td>
                <td class="col-md-1 text-right {{ setTextColor(stat.goals, stat.opp_goals) }}">{{ stat.goals_diff }}</td>
                <td class="col-md-1 text-right">{{ stat.goals_1 }}</td>
                <td class="col-md-1 text-right">{{ stat.opp_goals_1 }}</td>
                <td class="col-md-1 text-right {{ setTextColor(stat.goals_1, stat.opp_goals_1) }}">{{ stat.goals_diff_1 }}</td>
                <td class="col-md-1 text-right">{{ stat.goals_2 }}</td>
                <td class="col-md-1 text-right">{{ stat.opp_goals_2 }}</td>
                <td class="col-md-1 text-right {{ setTextColor(stat.goals_2, stat.opp_goals_2) }}">{{ stat.goals_diff_2 }}</td>
                <td class="col-md-1 text-right">{{ stat.goals_3 }}</td>
                <td class="col-md-1 text-right">{{ stat.opp_goals_3 }}</td>
                <td class="col-md-1 text-right {{ setTextColor(stat.goals_3, stat.opp_goals_3) }}">{{ stat.goals_diff_3 }}</td>
            </tr>
        </tbody>
    </table>

    <table id="standings" class="table table-bordered table-striped" data-ng-if="tableSelect == 'shot_stats'">
        <thead>
            <tr>
                <td class="text-center"><span class="rank">#</span></td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('team', sortCriterion, statsSortDescending); sortCriterion = 'team'">Team
                        <span data-ng-show="sortCriterion == 'team' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'team' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('games_played', sortCriterion, statsSortDescending); sortCriterion = 'games_played'"><abbr title="Spiele">GP</abbr>
                        <span data-ng-show="sortCriterion == 'games_played' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'games_played' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('shots_on_goal', sortCriterion, statsSortDescending); sortCriterion = 'shots_on_goal'"><abbr title="Eigene Torschüsse">SOG+</abbr>
                        <span data-ng-show="sortCriterion == 'shots_on_goal' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'shots_on_goal' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('goals', sortCriterion, statsSortDescending); sortCriterion = 'goals'"><abbr title="Erzielte Tore">GF</abbr>
                        <span data-ng-show="sortCriterion == 'goals' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'goals' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('shot_pctg', sortCriterion, statsSortDescending); sortCriterion = 'shot_pctg'"><abbr title="Schussquote">SH%</abbr>
                        <span data-ng-show="sortCriterion == 'shot_pctg' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'shot_pctg' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('opp_shots_on_goal', sortCriterion, statsSortDescending); sortCriterion = 'opp_shots_on_goal'"><abbr title="Gegnerische Torschüsse">SOG-</abbr>
                        <span data-ng-show="sortCriterion == 'opp_shots_on_goal' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'opp_shots_on_goal' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('opp_goals', sortCriterion, statsSortDescending); sortCriterion = 'opp_goals'"><abbr title="Gegentore">GA</abbr>
                        <span data-ng-show="sortCriterion == 'opp_goals' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'opp_goals' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('save_pctg', sortCriterion, statsSortDescending); sortCriterion = 'save_pctg'"><abbr title="Fangquote">SV%</abbr>
                        <span data-ng-show="sortCriterion == 'save_pctg' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'save_pctg' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('pdo', sortCriterion, statsSortDescending); sortCriterion = 'pdo'"><abbr title="PDO-Wert">PDO</abbr>
                        <span data-ng-show="sortCriterion == 'pdo' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'pdo' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="stat in filtered_team_stats | orderBy:sortCriterion:statsSortDescending">
                <td class="col-md-1 text-right" style="width: 3%">{{ $index + 1 }}</td>
                <td class="col-md-1">{{ stat.team }}</td>
                <td class="col-md-1 text-right">{{ stat.games_played }}</td>
                <td class="col-md-1 text-right">{{ stat.shots_on_goal }}</td>
                <td class="col-md-1 text-right">{{ stat.goals }}</td>
                <td class="col-md-1 text-right">{{ stat.shot_pctg.toFixed(2) }} %</td>
                <td class="col-md-1 text-right">{{ stat.opp_shots_on_goal }}</td>
                <td class="col-md-1 text-right">{{ stat.opp_goals }}</td>
                <td class="col-md-1 text-right">{{ stat.save_pctg.toFixed(2) }} %</td>
                <td class="col-md-1 text-right">{{ stat.pdo.toFixed(1) }}</td>
            </tr>
        </tbody>
    </table>

    <table id="standings" class="table table-bordered table-striped" data-ng-if="tableSelect == 'shot_shares'">
        <thead>
            <tr>
                <td class="text-center"><span class="rank">#</span></td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('team', sortCriterion, statsSortDescending); sortCriterion = 'team'">Team
                        <span data-ng-show="sortCriterion == 'team' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'team' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('games_played', sortCriterion, statsSortDescending); sortCriterion = 'games_played'"><abbr title="Spiele">GP</abbr>
                        <span data-ng-show="sortCriterion == 'games_played' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'games_played' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('shots', sortCriterion, statsSortDescending); sortCriterion = 'shots'"><abbr title="Eigene Schüsse (auf das Tor, daneben und geblockt)">COF</abbr>
                        <span data-ng-show="sortCriterion == 'shots' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'shots' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('opp_shots', sortCriterion, statsSortDescending); sortCriterion = 'opp_shots'"><abbr title="Gegnerische Schüsse (auf das Tor, daneben und geblockt">COA</abbr>
                        <span data-ng-show="sortCriterion == 'opp_shots' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'opp_shots' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('corsi_for_pctg', sortCriterion, statsSortDescending); sortCriterion = 'corsi_for_pctg'"><abbr title="Eigener Schussanteil">COF%</abbr>
                        <span data-ng-show="sortCriterion == 'corsi_for_pctg' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'corsi_for_pctg' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('fenwick_events', sortCriterion, statsSortDescending); sortCriterion = 'fenwick_events'"><abbr title="Eigene Schüsse auf und neben das Tor">FWF</abbr>
                        <span data-ng-show="sortCriterion == 'fenwick_events' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'fenwick_events' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('opp_fenwick_events', sortCriterion, statsSortDescending); sortCriterion = 'opp_fenwick_events'"><abbr title="Gegnerische Schüsse auf und neben das Tor">FWA</abbr>
                        <span data-ng-show="sortCriterion == 'opp_fenwick_events' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'opp_fenwick_events' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('fenwick_for_pctg', sortCriterion, statsSortDescending); sortCriterion = 'fenwick_for_pctg'"><abbr title="Eigener Anteil an Schüssen auf und neben das Tor">FWF%</abbr>
                        <span data-ng-show="sortCriterion == 'fenwick_for_pctg' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'fenwick_for_pctg' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('shots_on_goal', sortCriterion, statsSortDescending); sortCriterion = 'shots_on_goal'"><abbr title="Eigene Torschüsse">SOGF</abbr>
                        <span data-ng-show="sortCriterion == 'shots_on_goal' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'shots_on_goal' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('opp_shots_on_goal', sortCriterion, statsSortDescending); sortCriterion = 'opp_shots_on_goal'"><abbr title="Gegnerische Torschüsse">SOGA</abbr>
                        <span data-ng-show="sortCriterion == 'opp_shots_on_goal' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'opp_shots_on_goal' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('shot_for_pctg', sortCriterion, statsSortDescending); sortCriterion = 'shot_for_pctg'"><abbr title="Eigener Anteil an Torschüssen">SOGF%</abbr>
                        <span data-ng-show="sortCriterion == 'shot_for_pctg' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'shot_for_pctg' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="stat in filtered_team_stats | orderBy:sortCriterion:statsSortDescending">
                <td class="col-md-1 text-right" style="width: 3%">{{ $index + 1 }}</td>
                <td class="col-md-1">{{ stat.team }}</td>
                <td class="col-md-1 text-right">{{ stat.games_played }}</td>
                <td class="col-md-1 text-right">{{ stat.shots }}</td>
                <td class="col-md-1 text-right">{{ stat.opp_shots }}</td>
                <td class="col-md-1 text-right">{{ stat.corsi_for_pctg.toFixed(2) }} %</td>
                <td class="col-md-1 text-right">{{ stat.fenwick_events }}</td>
                <td class="col-md-1 text-right">{{ stat.opp_fenwick_events }}</td>
                <td class="col-md-1 text-right">{{ stat.fenwick_for_pctg.toFixed(2) }}</td>
                <td class="col-md-1 text-right">{{ stat.shots_on_goal }}</td>
                <td class="col-md-1 text-right">{{ stat.opp_shots_on_goal }}</td>
                <td class="col-md-1 text-right">{{ stat.shot_for_pctg.toFixed(2) }} %</td>
            </tr>
        </tbody>
    </table>

    <table id="standings" class="table table-bordered table-striped" data-ng-if="tableSelect == 'special_team_stats'">
        <thead>
            <tr>
                <td class="text-center"><span class="rank">#</span></td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('team', sortCriterion, statsSortDescending); sortCriterion = 'team'">Team
                        <span data-ng-show="sortCriterion == 'team' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'team' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('games_played', sortCriterion, statsSortDescending); sortCriterion = 'games_played'"><abbr title="Spiele">GP</abbr>
                        <span data-ng-show="sortCriterion == 'games_played' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'games_played' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('pp_opps', sortCriterion, statsSortDescending); sortCriterion = 'pp_opps'"><abbr title="Überzahlsituationen">PPO</abbr>
                        <span data-ng-show="sortCriterion == 'pp_opps' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'pp_opps' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('pp_goals', sortCriterion, statsSortDescending); sortCriterion = 'pp_goals'"><abbr title="Überzahltore">PPG</abbr>
                        <span data-ng-show="sortCriterion == 'pp_goals' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'pp_goals' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('pp_pctg', sortCriterion, statsSortDescending); sortCriterion = 'pp_pctg'"><abbr title="Powerplay-Quote">PP%</abbr>
                        <span data-ng-show="sortCriterion == 'pp_pctg' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'pp_pctg' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('opp_sh_goals', sortCriterion, statsSortDescending); sortCriterion = 'opp_sh_goals'"><abbr title="Zugelassene Tore in Überzahl">SHGA</abbr>
                        <span data-ng-show="sortCriterion == 'opp_sh_goals' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'opp_sh_goals' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('sh_opps', sortCriterion, statsSortDescending); sortCriterion = 'sh_opps'"><abbr title="Unterzahlsituationen">TSH</abbr>
                        <span data-ng-show="sortCriterion == 'sh_opps' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'sh_opps' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('opp_pp_goals', sortCriterion, statsSortDescending); sortCriterion = 'opp_pp_goals'"><abbr title="Zugelassene Tore in Unterzahl">PPGA</abbr>
                        <span data-ng-show="sortCriterion == 'opp_pp_goals' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'opp_pp_goals' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('pk_pctg', sortCriterion, statsSortDescending); sortCriterion = 'pk_pctg'"><abbr title="Unterzahl-Quote">PK%</abbr>
                        <span data-ng-show="sortCriterion == 'pk_pctg' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'pk_pctg' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('sh_goals', sortCriterion, statsSortDescending); sortCriterion = 'sh_goals'"><abbr title="Erzielte Tore in Unterzahl">SHGF</abbr>
                        <span data-ng-show="sortCriterion == 'sh_goals' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'sh_goals' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('pp_pk_gdiff', sortCriterion, statsSortDescending); sortCriterion = 'pp_pk_gdiff'"><abbr title="Tordifferenz in Über- und Unterzahl">GDiff</abbr>
                        <span data-ng-show="sortCriterion == 'pp_pk_gdiff' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'pp_pk_gdiff' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" data-ng-click="statsSortDescending = setSortOrder('pp_pk_comb_pctg', sortCriterion, statsSortDescending); sortCriterion = 'pp_pk_comb_pctg'"><abbr title="Summe von Über- und Unterzahl-Quote">PP%+PK%</abbr>
                        <span data-ng-show="sortCriterion == 'pp_pk_comb_pctg' && statsSortDescending" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortCriterion == 'pp_pk_comb_pctg' && !statsSortDescending" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="stat in filtered_team_stats | orderBy:sortCriterion:statsSortDescending">
                <td class="col-md-1 text-right" style="width: 3%">{{ $index + 1 }}</td>
                <td class="col-md-1">{{ stat.team }}</td>
                <td class="col-md-1 text-right">{{ stat.games_played }}</td>
                <td class="col-md-1 text-right">{{ stat.pp_opps }}</td>
                <td class="col-md-1 text-right">{{ stat.pp_goals }}</td>
                <td class="col-md-1 text-right">{{ stat.pp_pctg.toFixed(2) }} %</td>
                <td class="col-md-1 text-right">{{ stat.opp_sh_goals }}</td>
                <td class="col-md-1 text-right">{{ stat.sh_opps }}</td>
                <td class="col-md-1 text-right">{{ stat.opp_pp_goals }}</td>
                <td class="col-md-1 text-right">{{ stat.pk_pctg.toFixed(2) }} %</td>
                <td class="col-md-1 text-right">{{ stat.sh_goals }}</td>
                <td class="col-md-1 text-right">{{ stat.pp_pk_gdiff }}</td>
                <td class="col-md-1 text-right">{{ stat.pp_pk_comb_pctg.toFixed(2) }}</td>
            </tr>
        </tbody>
    </table>

    <table id="standings" class="table table-bordered table-striped" data-ng-if="tableSelect == 'additional_stats'">
            <thead>
                <tr>
                    <td class="text-center"><span class="rank">#</span></td>
                    <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('team', sortCriterion, statsSortDescending); sortCriterion = 'team'">Team
                            <span data-ng-show="sortCriterion == 'team' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'team' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('games_played', sortCriterion, statsSortDescending); sortCriterion = 'games_played'"><abbr title="Spiele">GP</abbr>
                            <span data-ng-show="sortCriterion == 'games_played' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'games_played' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('points', sortCriterion, statsSortDescending); sortCriterion = 'points'"><abbr title="Punkte">Pts.</abbr>
                            <span data-ng-show="sortCriterion == 'points' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'points' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('pt_pctg', sortCriterion, statsSortDescending); sortCriterion = 'pt_pctg'"><abbr title="Anteil der maximal erzielbaren Punkte">Pt%</abbr>
                            <span data-ng-show="sortCriterion == 'pt_pctg' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'pt_pctg' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('faceoffs_won', sortCriterion, statsSortDescending); sortCriterion = 'faceoffs_won'"><abbr title="Gewonnene Bullies">FAC+</abbr>
                            <span data-ng-show="sortCriterion == 'faceoffs_won' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'faceoffs_won' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('faceoffs_lost', sortCriterion, statsSortDescending); sortCriterion = 'faceoffs_lost'"><abbr title="Verlorene Bullies">FAC-</abbr>
                            <span data-ng-show="sortCriterion == 'faceoffs_lost' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'faceoffs_lost' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('faceoff_pctg', sortCriterion, statsSortDescending); sortCriterion = 'faceoff_pctg'"><abbr title="Anteil der gewonnenen Bullies">FAC%</abbr>
                            <span data-ng-show="sortCriterion == 'faceoff_pctg' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'faceoff_pctg' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('pim', sortCriterion, statsSortDescending); sortCriterion = 'pim'"><abbr title="Strafminuten">PIM</abbr>
                            <span data-ng-show="sortCriterion == 'pim' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'pim' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('pim_per_game', sortCriterion, statsSortDescending); sortCriterion = 'pim_per_game'"><abbr title="Strafminuten pro Spiel">PIM/G</abbr>
                            <span data-ng-show="sortCriterion == 'pim_per_game' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'pim_per_game' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('shots_missed', sortCriterion, statsSortDescending); sortCriterion = 'shots_missed'"><abbr title="Schüsse am Tor vorbei">MS</abbr>
                            <span data-ng-show="sortCriterion == 'shots_missed' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'shots_missed' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="" data-ng-click="statsSortDescending = setSortOrder('shots_blocked', sortCriterion, statsSortDescending); sortCriterion = 'shots_blocked'"><abbr title="Geblockte Schüsse">BS</abbr>
                            <span data-ng-show="sortCriterion == 'shots_blocked' && statsSortDescending" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCriterion == 'shots_blocked' && !statsSortDescending" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="stat in filtered_team_stats | orderBy:sortCriterion:statsSortDescending">
                    <td class="col-md-1 text-right" style="width: 3%">{{ $index + 1 }}</td>
                    <td class="col-md-1">{{ stat.team }}</td>
                    <td class="col-md-1 text-right">{{ stat.games_played }}</td>
                    <td class="col-md-1 text-right">{{ stat.points }}</td>
                    <td class="col-md-1 text-right">{{ stat.pt_pctg.toFixed(2) }} %</td>
                    <td class="col-md-1 text-right">{{ stat.faceoffs_won }}</td>
                    <td class="col-md-1 text-right">{{ stat.faceoffs_lost }}</td>
                    <td class="col-md-1 text-right">{{ stat.faceoff_pctg.toFixed(2) }} %</td>
                    <td class="col-md-1 text-right">{{ stat.pim }}</td>
                    <td class="col-md-1 text-right">{{ stat.pim_per_game.toFixed(2) }}</td>
                    <td class="col-md-1 text-right">{{ stat.shots_missed }}</td>
                    <td class="col-md-1 text-right">{{ stat.shots_blocked }}</td>
                </tr>
            </tbody>
        </table>
    
</div>
