body { padding-top: 40px; }

.inline { display: inline-block; }

.inline-headers h2, .inline-headers span, .inline-headers img {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

/* to avoid shrinking of empty condensed tables */
table {
    width: 100%;
}

.form_spacer {
    background-color: white;
    width: 10px; padding-left: 0px;
    padding-right: 0px;
    border: none;
}

thead td.text-center a, span.rank, abbr.rank { font-size: 80%; font-weight: bold; }

dl { margin: 0;}

li.personal_stuff { width: 33%; }

li i.fa, li i.fab { margin-right: 5px; }

label { padding-left: 5px;}

.red { color: red; }
.green { color: darkgreen; }

div.main-bg { background-color: rgb(216, 250, 250); }

div.po-main-bg { background-color: rgb(255, 201, 202); }

.marker { background: orange !important; font-weight: bold;}

.container-md { padding: 0; }

/* TODO: adjust background-color tr.table-info { color: rgb(255, 12, 12); } */

/* customized width classes */
.w-03 { width: 3%;}
.w-04 { width: 4%;}
.w-05 { width: 5%;}
.w-06 { width: 6%;}
.w-07 { width: 7%;}
.w-08 { width: 8%;}
.w-09 { width: 9%;}
.w-10 { width: 10%;}
.w-11 { width: 11%;}
.w-12 { width: 12%;}
.w-13 { width: 13%;}
.w-14 { width: 14%;}
.w-15 { width: 15%;}
.w-16 { width: 16%;}
.w-17 { width: 17%;}
.w-18 { width: 18%;}
.w-19 { width: 19%;}
.w-20 { width: 20%;}
.w-21 { width: 21%;}
.w-22 { width: 22%;}
.w-23 { width: 23%;}
.w-24 { width: 24%;}
.w-26 { width: 26%;}
.w-27 { width: 27%;}
.w-28 { width: 28%;}
.w-29 { width: 29%;}
.w-30 { width: 30%;}
.w-60 { width: 60%;}

@font-face {
    font-family: jersey;
    src: url('jersey.ttf') format('truetype');
}
.jersey {
    font-family: jersey;
}

caption {
    font-weight: bold;
    caption-side: top;
}